/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* theme colors */
@import 'colors.scss';

// NOTE: undo what ionic/typography hath wrought

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  --app-scale: 0;
  --app-translate-x: 0;
  --app-translate-y: 0;
  // land use color shading
  // @see https://www.gismanual.com/style/ColorConventions.pdf
  // @see map-maker
  --shade-u11: var(--mat-brown-300);
  --shade-u12: var(--mat-brown-500);
  --shade-u17: var(--mat-red-200);
  --shade-u19: var(--mat-yellow-200);
  --shade-u22: var(--mat-orange-200);
  --shade-u26: var(--mat-purple-200);
  --shade-u27: var(--mat-gray-300);
  --shade-u33: var(--mat-blue-200);
  --shade-u58: var(--mat-teal-200);
  --shade-u100: #d9e697;
  --shade-u101: #acd19e;
}
