/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* theme colors */
@import 'colors.scss';

// 👇 undo what ionic/typography hath wrought

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  --app-scale: 0;
  --app-translate-x: 0;
  --app-translate-y: 0;

  --ball-accuracy: 0;
  --ball-heading: 0;
  --ball-heading-visibility: 'hidden';
  --ball-interval: 0;
  --ball-translate-x: 0;
  --ball-translate-y: 0;

  // land use color shading
  // 👀  https://www.gismanual.com/style/ColorConventions.pdf
  // 👀  map-maker
  --shade-u110: var(--mat-brown-300);
  --shade-u120: var(--mat-brown-500);
  --shade-u190: var(--mat-yellow-200);
  --shade-u260: var(--mat-red-200);
  --shade-u261: var(--mat-purple-200);
  --shade-u300: var(--mat-cyan-200);
  --shade-u400: var(--mat-orange-200);
  --shade-u500: #d9e697;
  --shade-u501: #acd19e;
  --shade-u999: var(--mat-gray-300);

  --shade-CUMH: var(--mat-brown-500);
  --shade-CUMW: var(--mat-brown-500);
  --shade-CUUH: var(--mat-brown-500);
  --shade-CUUW: var(--mat-brown-500);

  --shade-CUFL: var(--mat-green-500);
  --shade-CUWL: var(--mat-blue-500);
}
