app-details {
  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
  padding: 0.5rem;

  section {
    display: grid;
    grid-gap: 0.5rem;
    height: 100%;
    width: 100%;

    .header {
      grid-area: header;
    }

    .map {
      grid-area: map;
      height: 100%;
      width: 100%;
    }

    .nomap {
      align-content: center;
      color: rgba(var(--ion-color-medium-rgb), 0.5);
      display: grid;
      font-size: 3rem;
      font-weight: bold;
      grid-area: map;
      height: 100%;
      justify-content: center;
      padding: 1rem;
      text-align: center;
      width: 100%;
    }

    .table {
      grid-area: table;

      td {
        padding-bottom: 8px;
        padding-right: 8px;
      }

      td:first-child {
        font-weight: bold;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: 33%;

        &::after {
          content: '........................................................';
          position: absolute;
        }
      }

      td:last-child {
        padding-left: 8px;
      }

      tr {
        vertical-align: top;
      }
    }
  }
}

app-details.landscape section {
  grid-template-areas:
    'header header'
    'map table';
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto 1fr;
}

app-details.portrait section {
  grid-template-areas:
    'header'
    'map'
    'table';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
}

app-details.square section {
  grid-template-areas:
    'header'
    'map'
    'table';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
