app-details {
  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
  padding: 0.5rem;

  section {
    display: grid;
    grid-gap: 0.5rem;
    height: 100%;
    width: 100%;

    .details-to {
      // TODO:🌞 hack to match close button
      bottom: 20px;
      position: absolute;
      right: 68px;
      width: 200px;
    }

    .header {
      display: flex;
      grid-area: header;
      justify-content: space-between;
    }

    .footnotes {
      font-size: smaller;
      max-width: 20rem;
    }

    .lot {
      grid-area: lot;
    }

    .map {
      grid-area: map;
    }

    .table {
      align-self: start;
      margin-bottom: 3rem;

      table {
        td,
        th {
          padding-bottom: 4px;
          padding-right: 8px;
          padding-top: 4px;
          text-align: left;
        }

        tr {
          vertical-align: top;
        }
      }
    }

    .table.abutters {
      grid-area: table-abutters;
      overflow: auto;

      tr.highlighted {
        background-color: rgba(var(--ion-color-primary-rgb), 0.33);
      }
    }

    .table.assessor,
    .table.measure {
      table {
        td:first-child {
          font-weight: bold;
          overflow: hidden;
          position: relative;
          white-space: nowrap;
          width: 40%;

          &::after {
            content: '........................................................';
            position: absolute;
          }
        }

        td:not(:first-child) {
          padding-left: 8px;
        }
      }
    }

    .table.assessor {
      grid-area: table-assessor;
    }

    .table.measure {
      grid-area: table-measure;
    }
  }
}

app-details.pdf {
  background-color: white;
  overflow: unset;
  padding: 2rem;

  section {
    align-content: start;
    grid-gap: 2rem;
    grid-template-areas:
      'header header'
      'map lot'
      'table-assessor table-measure';
    grid-template-columns: var(--pdf-map-width) var(--pdf-map-width);
    grid-template-rows: auto var(--pdf-map-height) auto;
    overflow: unset;

    .header {
      h4 {
        width: var(--pdf-header-width);
      }

      mark {
        text-align: right;
        width: var(--pdf-mark-width);
      }
    }
  }
}

app-details.landscape.assessor section {
  grid-template-areas:
    'header header'
    'map table-assessor';
  grid-template-columns: 1fr minmax(284px, auto);
  grid-template-rows: auto 1fr;

  .lot,
  .table.abutters,
  .table.measure {
    display: none;
  }
}

app-details.portrait.assessor section {
  grid-template-areas:
    'header'
    'map'
    'table-assessor';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  .lot,
  .table.abutters,
  .table.measure {
    display: none;
  }
}

app-details.landscape.measure section {
  grid-template-areas:
    'header header'
    'lot table-measure';
  grid-template-columns: 1fr minmax(284px, auto);
  grid-template-rows: auto 1fr;

  .map,
  .table.abutters,
  .table.assessor {
    display: none;
  }
}

app-details.portrait.measure section {
  grid-template-areas:
    'header'
    'lot'
    'table-measure';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  .map,
  .table.abutters,
  .table.assessor {
    display: none;
  }
}

@media (min-height: 480px) {
  app-details.landscape.assessor section {
    grid-template-areas:
      'header header'
      'map table-assessor'
      'map table-abutters';
    grid-template-columns: 1fr minmax(284px, auto);
    grid-template-rows: auto auto 1fr;

    .lot,
    .table.measure {
      display: none;
    }

    .table.abutters {
      display: block;
      max-height: calc(100% - 4rem);
    }
  }

  app-details.landscape.measure section {
    grid-template-areas:
      'header header'
      'lot table-measure'
      'lot table-abutters';
    grid-template-columns: 1fr minmax(284px, auto);
    grid-template-rows: auto auto 1fr;

    .map,
    .table.assessor {
      display: none;
    }

    .table.abutters {
      display: block;
      max-height: calc(100% - 4rem);
    }
  }
}

@media (min-width: 640px) {
  app-details.portrait.assessor section {
    grid-template-areas:
      'header header'
      'map map'
      'table-assessor table-abutters';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;

    .lot,
    .table.measure {
      display: none;
    }

    .table.abutters {
      display: block;
      max-height: 180px;
    }
  }

  app-details.portrait.measure section {
    grid-template-areas:
      'header header'
      'lot lot'
      'table-measure table-abutters';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;

    .map,
    .table.assessor {
      display: none;
    }

    .table.abutters {
      display: block;
      max-height: 180px;
    }
  }
}
