<section (resized)="resize($event)">
  <header class="header">
    <h4>{{ lot.id }} &bull; {{ lot.address }}</h4>

    <mark
      *ngIf="['U', 'V', 'W'].includes(lot.neighborhood) && ['110', '120'].includes(lot.usage)"
      >VACANT</mark
    >
  </header>

  <article
    *ngIf="model.details === 'assessor' || orientation === 'pdf'"
    class="map"
  >
    <app-lot-map
      (boundsChanged)="preferredBounds = $event"
      (zoomChanged)="preferredZoom = $event"
      [lot]="lot"
      [lotLinesStyle]="orientation === 'pdf' ? 'outline' : 'measure'"
      [mapType]="'satellite'"
      [preferredBounds]="preferredBounds"
      [preferredZoom]="preferredZoom"
      [staticMapHeight]="staticMapHeight"
      [staticMapWidth]="staticMapWidth"
      [staticMap]="orientation === 'pdf'"
    ></app-lot-map>
  </article>

  <article *ngIf="orientation === 'pdf'" class="lot">
    <app-lot-blueprint [lot]="lot"></app-lot-blueprint>
  </article>

  <article
    *ngIf="model.details === 'measure' && orientation !== 'pdf'"
    class="lot"
  >
    <app-lot-map
      (boundsChanged)="preferredBounds = $event"
      (zoomChanged)="preferredZoom = $event"
      [lot]="lot"
      [lotLinesStyle]="'measure'"
      [mapType]="'roadmap'"
      [preferredBounds]="preferredBounds"
      [preferredZoom]="preferredZoom"
    ></app-lot-map>
  </article>

  <article
    *ngIf="model.details === 'assessor' || orientation === 'pdf'"
    class="table assessor"
  >
    <table>
      <tbody>
        <tr *ngIf="lot.owner">
          <td>Owner</td>
          <td>{{ lot.owner }}</td>
        </tr>

        <tr>
          <td>Area</td>
          <td [ngPlural]="lot.area">
            {{ lot.area | number: '1.0-2' }}
            <ng-template ngPluralCase="=1">acre</ng-template>
            <ng-template ngPluralCase="other">acres</ng-template>
          </td>
        </tr>

        <tr>
          <td>Land Use</td>
          <td>
            {{ usageDescription() }}
            <span *ngIf="lot.usage === '190' && useDescription()">
              &bull; {{ useDescription() }}
            </span>
          </td>
        </tr>

        <tr *ngIf="lot.building$">
          <td>Building</td>
          <td>{{ lot.building$ | currency:'USD':'symbol':'1.0-0' }}</td>
        </tr>

        <tr *ngIf="lot.cu$">
          <td>Other</td>
          <td>{{ lot.cu$ | currency:'USD':'symbol':'1.0-0' }}</td>
        </tr>

        <tr *ngIf="lot.land$">
          <td>Land</td>
          <td>{{ lot.land$ | currency:'USD':'symbol':'1.0-0' }}</td>
        </tr>

        <tr *ngIf="lot.taxed$">
          <td>Taxed</td>
          <td>{{ lot.taxed$ | currency:'USD':'symbol':'1.0-0' }}</td>
        </tr>
      </tbody>
    </table>
  </article>

  <article
    *ngIf="model.details === 'measure' || orientation === 'pdf'"
    class="table measure"
  >
    <table>
      <tbody>
        <tr>
          <td>Calculated area</td>
          <td *ngFor="let area of lot.areas" nowrap>
            {{ area | number: '1.2-2' }} acres <br />
            {{ geometry.acres2sqft(area) | number: '1.0-0' }} sq ft
          </td>
        </tr>

        <tr>
          <td>Perimeter</td>
          <td *ngFor="let perimeter of lot.perimeters" nowrap>
            {{ perimeter | number: '1.0-0' }} ft <br />
          </td>
        </tr>

        <tr>
          <td>Width</td>
          <td *ngFor="let minWidth of lot.minWidths" nowrap>
            {{ minWidth | number: '1.0-0' }} ft <br />
          </td>
        </tr>

        <tr>
          <td>Elevation at center</td>
          <td *ngFor="let elevation of lot.elevations" nowap>
            {{ elevation | number: '1.0-0' }} ft <br />
          </td>
        </tr>
      </tbody>
    </table>

    <footer class="footnotes">
      <p>
        <strong>For Information Only</strong> All measurements are calculated
        from lat/lon boundary points and may not match lot survey.
      </p>
    </footer>
  </article>

  <ng-container *ngIf="orientation !== 'pdf'">
    <ion-segment
      (ionChange)="detailsTo($event.detail.value)"
      [value]="model.details"
      color="light"
      class="details-to"
      mode="ios"
    >
      <ion-segment-button value="assessor">
        <ion-label>Assessed</ion-label>
      </ion-segment-button>
      <ion-segment-button value="measure">
        <ion-label>Calculated</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ng-container *ngIf="canPrint(); else justClose">
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button
          (press)="dismiss()"
          (tap)="fabList.activated? dismiss() : null"
          color="primary"
        >
          <ion-icon src="svg/more.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-list #fabList side="top">
          <ion-fab-button (tap)="print()" color="secondary">
            <ion-icon src="svg/print.svg"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ng-container>

    <ng-template #justClose>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (tap)="dismiss()" color="primary" size="small">
          <ion-icon src="svg/close.svg"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-template>
  </ng-container>
</section>
