<section (resized)="resize($event)">
  <header class="header">
    <h1>{{ lot.id }} &bull; {{ lot.address }}</h1>
  </header>

  <article class="map">
    <google-map [options]="mapOptions" height="100%" width="100%"> </google-map>
  </article>

  <ng-template #noMap>
    <article class="nomap">Google Maps not currently available</article>
  </ng-template>

  <article class="table">
    <table>
      <tbody>
        <tr *ngIf="lot.owner">
          <td>Owner</td>
          <td>{{ lot.owner }}</td>
        </tr>

        <tr>
          <td>Area</td>
          <td [ngPlural]="lot.area">
            {{ lot.area | number: '1.0-2' }}
            <ng-template ngPluralCase="=1">acre</ng-template>
            <ng-template ngPluralCase="other">acres</ng-template>
          </td>
        </tr>

        <tr>
          <td>Land Use</td>
          <td>
            {{ usageDescription() }}
            <span *ngIf="lot.usage === '190' && useDescription()">
              &bull; {{ useDescription() }}
            </span>
          </td>
        </tr>

        <tr *ngIf="lot.building$">
          <td>Building</td>
          <td>{{ lot.building$ | currency:'USD':'symbol':'1.0-0' }}</td>
        </tr>

        <tr *ngIf="lot.cu$">
          <td>Current Use</td>
          <td>{{ lot.cu$ | currency:'USD':'symbol':'1.0-0' }}</td>
        </tr>

        <tr *ngIf="lot.land$">
          <td>Land</td>
          <td>{{ lot.land$ | currency:'USD':'symbol':'1.0-0' }}</td>
        </tr>

        <tr *ngIf="lot.taxed$">
          <td>Taxed</td>
          <td>{{ lot.taxed$ | currency:'USD':'symbol':'1.0-0' }}</td>
        </tr>
      </tbody>
    </table>
  </article>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (tap)="dismiss()" size="small">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</section>
