<section (resized)="resize($event)">
  <article class="credits">
    <h2>Credits</h2>

    <table>
      <tr>
        <td>Version</td>
        <td>{{ env.package.version }}</td>
      </tr>

      <tr>
        <td>Build</td>
        <td>{{ env.build.id }} {{ env.build.date | date }}</td>
      </tr>

      <tr>
        <td>Hillshade</td>
        <td><a href="https://arcgis.com" target="_blank">ArcGIS Online</a></td>
      </tr>

      <tr>
        <td>Topography</td>
        <td>
          <a href="https://openstreetmap.org" target="_blank">OpenStreetMap</a>
        </td>
      </tr>

      <tr>
        <td>Lot lines</td>
        <td><a href="https://regrid.com" target="_blank">Regrid</a></td>
      </tr>

      <tr>
        <td>Icons</td>
        <td>
          <a href="https://www.flaticon.com/" target="_blank"
            >www.flaticon.com</a
          >
          <br />
          <a href="https://realfavicongenerator.net/" target="_blank"
            >RealFaviconGenerator.net</a
          >
        </td>
      </tr>

      <tr>
        <td>Author</td>
        <td>{{ env.package.author }}</td>
      </tr>

      <tr>
        <td>License</td>
        <td>
          <a [href]="env.package.repository.url" target="_blank"
            >{{ env.package.license }}</a
          >
        </td>
      </tr>
    </table>
  </article>

  <article class="legend">
    <h2>Legend</h2>
    <ul>
      <ng-container *ngFor="let usage of usages()">
        <li>
          <div
            [style.background-color]="'rgba(var(--shade-u' + usage[0] + '), 1)'"
            class="code"
          >
            &nbsp;
          </div>
          &nbsp;
          <div class="desc">{{ usage[1] }}</div>
        </li>

        <ng-container *ngIf="usage[0] === '190'">
          <li>
            <svg-icon
              [svgStyle]="{
                      fill: 'var(--shade-CUUH)',
                      height: '16px',
                      width: '16px'
                    }"
              class="icon"
              src="svg/cuuh.svg"
            ></svg-icon>
            <svg-icon
              [svgStyle]="{
                      fill: 'var(--shade-CUMH)',
                      height: '16px',
                      width: '16px'
                    }"
              class="icon"
              src="svg/cumh.svg"
            ></svg-icon>
            <div class="desc">Un/managed hardwood</div>
          </li>

          <li>
            <svg-icon
              [svgStyle]="{
                      fill: 'var(--shade-CUUW)',
                      height: '16px',
                      width: '16px'
                    }"
              class="icon"
              src="svg/cuuw.svg"
            ></svg-icon>
            <svg-icon
              [svgStyle]="{
                      fill: 'var(--shade-CUMW)',
                      height: '16px',
                      width: '16px'
                    }"
              class="icon"
              src="svg/cumw.svg"
            ></svg-icon>
            <div class="desc">Un/managed pine</div>
          </li>

          <li>
            <svg-icon
              [svgStyle]="{
                      fill: 'var(--shade-CUFL)',
                      height: '16px',
                      width: '16px'
                    }"
              class="icon"
              src="svg/cufl.svg"
            ></svg-icon>
            <svg-icon
              [svgStyle]="{
                      fill: 'var(--shade-CUWL)',
                      height: '16px',
                      width: '16px'
                    }"
              class="icon"
              src="svg/cuwl.svg"
            ></svg-icon>
            <div class="desc">Farm/Wetland</div>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </article>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (tap)="dismiss()" size="small">
      <ion-icon src="svg/close.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</section>
