<figure
  *ngIf="!staticMap; else showStaticMap"
  (resized)="resize($event)"
  class="overhead"
>
  <article *ngIf="api.ready$ | async; else noMap" class="lot-map">
    <google-map
      (boundsChanged)="boundsChanged.emit(map.getBounds())"
      (maptypeidChanged)="mapType = map.getMapTypeId()"
      (zoomChanged)="zoomChanged.emit(map.getZoom())"
      [options]="mapOptions"
      height="100%"
      width="100%"
    >
      <app-lot-measure [bbox]="bbox" [lot]="lot" [mapType]="mapType">
      </app-lot-measure>

      <ng-container *ngFor="let abutter of abutters()">
        <map-marker
          *ngFor="let center of centers(abutter)"
          (mapClick)="selection.select([abutter])"
          [label]="markerLabel(abutter)"
          [options]="markerOptions"
          [position]="center"
        >
        </map-marker>
        <map-polyline
          *ngFor="let outline of outlines(abutter)"
          [path]="outline"
          [options]="abutterOptions"
        ></map-polyline>
      </ng-container>
    </google-map>
  </article>

  <ng-template #noMap>
    <article class="lot-nomap">Google Maps not currently available</article>
  </ng-template>
</figure>

<ng-template #showStaticMap>
  <img
    [attr.height]="staticMapHeight"
    [attr.width]="staticMapWidth"
    [src]="mapURL"
    class="overhead"
  />
</ng-template>
