app-lot-lines {
  .lot-lines {
    .annotation {
      font-size: smaller;
    }

    .boundary {
      stroke: var(--lot-outline-color);
      stroke-width: var(--lot-outline-width);
    }

    .marker {
      fill: var(--lot-marker-color);
      r: var(--lot-marker-width);
    }
  }
}
