app-lot-lines {
  .lot-lines {
    .annotation {
      font-size: smaller;
    }

    .boundary {
      stroke: var(--ion-color-danger);
      stroke-width: 3;
    }

    .marker {
      fill: var(--ion-color-danger-shade);
      r: 5;
    }
  }
}
