app-lot-map {
  display: block;
  height: 100%;
  width: 100%;

  .overhead {
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;

    .lot-map,
    .lot-nomap {
      height: 100%;
      position: absolute;
      width: 100%;
    }

    .lot-nomap {
      align-content: center;
      color: rgba(var(--ion-color-medium-rgb), 0.5);
      display: grid;
      font-size: 3rem;
      font-weight: bold;
      justify-content: center;
      padding: 1rem;
      text-align: center;
    }
  }
}
