<figure (resized)="resize($event)" class="dimensions">
  <svg
    attr.viewPort="0 0 {{ dims.width }} {{ dims.height }}"
    height="100%"
    width="100%"
  >
    <!-- 👇 textPath only works when referenced by href -->
    <defs>
      <path
        *ngFor="let edgeLength of edgeLengths; let ix = index"
        [attr.d]="path(edgeLength.points)"
        [id]="'_textPath_' + ix"
      />
    </defs>

    <!-- 👇 draw the boundary lines -->
    <g attr.transform="translate({{ dims.left }} {{ dims.top }})">
      <ng-container *ngFor="let boundary of lot.boundaries">
        <g>
          <polygon
            [attr.points]="points(boundary)"
            attr.fill="rgba(var(--shade-u{{ lot.usage }}), 0.5)"
            class="boundary"
          />
        </g>
      </ng-container>

      <!-- 👇 annotate the length of each boudary edge -->
      <ng-container *ngFor="let edgeLength of edgeLengths; let ix = index">
        <text class="annotation">
          <textPath
            [attr.href]="'#_textPath_' + ix"
            text-anchor="middle"
            startOffset="50%"
          >
            <tspan dy="-8">{{ round(edgeLength.length) }}</tspan>
          </textPath>
        </text>

        <!-- 👇 draw a marker at the boundary vertices -->
        <ng-container *ngIf="latlon2xy(edgeLength.points[0]) as xy">
          <circle [attr.cx]="xy.x" [attr.cy]="xy.y" class="marker" />
        </ng-container>

        <ng-container
          *ngIf="latlon2xy(edgeLength.points[edgeLength.points.length - 1]) as xy"
        >
          <circle [attr.cx]="xy.x" [attr.cy]="xy.y" class="marker" />
        </ng-container>
      </ng-container>
    </g>
  </svg>
</figure>
