app-overlay {
  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
  padding: 1rem;

  section {
    display: grid;
    grid-gap: 0.5rem;

    .header {
      grid-area: header;
      text-transform: uppercase;
    }

    .overlay-form {
      align-content: space-evenly;
      align-items: center;
      display: grid;
      grid-area: form;
      grid-gap: 0.5rem;
      grid-template-columns: auto auto auto auto;
      justify-items: center;

      .picker-square {
        border: 2px dotted var(--ion-color-light);
        height: 24px;
        transition: transform 0.25s ease-in-out;
        width: 24px;

        &.selected {
          border-style: solid;
          transform: scale(1.25);
        }
      }

      .property-caption {
        justify-self: start;
      }

      .property-enabler {
        --background: var(--ion-color-medium);
        --background-checked: var(--ion-color-primary);
        --checkmark-color: var(--ion-color-dark);
        --checkmark-width: 3;
      }
    }

    color-picker {
      align-self: center;
      grid-area: picker;
      justify-self: center;

      .button-cancel {
        background-color: var(--ion-color-medium);
        color: var(--ion-color-dark);
        font-size: 1rem;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}

app-overlay.landscape section {
  grid-template-areas:
    'header header'
    'form picker';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
}

app-overlay.portrait section {
  grid-template-areas:
    'header'
    'form'
    'picker';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 1fr;
}
