app-home {
  .content {
    height: calc(100% - var(--offset-top));
    position: absolute;
    top: var(--offset-top);
    transform: scale(var(--app-scale));
    transform-origin: 50% 50%;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }

  // NOTE: .lots selector is used in code
  // @see page.ts

  .lots,
  .map {
    display: block;
    position: absolute;
  }

  .map {
    border: 1px solid black;
    box-sizing: content-box;
    cursor: normal;
    position: relative;
    touch-action: none;
  }

  .map.translating {
    cursor: move;
  }

  .lots svg,
  .map {
    transform: translate(
      calc(var(--app-translate-x) * 1px),
      calc(var(--app-translate-y) * 1px)
    );
  }

  .lots.animating svg,
  .map.animating {
    transition: transform 0.5s ease-in-out;
  }

  .lots {
    pointer-events: none;
    top: 0;
  }

  // NOTE: this is overridden in page.ts when lot is highlighted
  .lots svg g polygon {
    fill: none;
    stroke: none;
  }

  .main {
    --background: var(--ion-color-dark);
  }

  .menu-icon {
    font-size: 14px;
  }

  .menu-item {
    padding: 0;
  }

  .scale {
    border-color: var(--ion-color-dark);
    border-style: solid;
    border-width: 0 1px 1px 1px;
    font-size: smaller;
    margin-right: 1rem;
    text-align: center;
    transition: width 0.5s ease-in-out;
    width: 80px;
  }

  .searchbar {
    --background: rgba(var(--ion-color-dark-rgb), 0.75);
    --border-radius: 0;
    --color: var(--ion-color-light);
    --icon-color: var(--ion-color-light);

    height: 3rem;
    padding: 0;
    position: absolute;
    right: 1rem;
    top: calc(var(--offset-top) + 1rem);
    width: min(calc(100% - 2rem), 20rem);
  }

  .tile {
    pointer-events: none;
    position: absolute;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .zoom {
    background-color: rgba(var(--ion-color-dark-rgb), 0.75);
    border: 1px solid var(--ion-color-light);
    bottom: 1rem;
    display: grid;
    grid-template-columns: 3rem;
    grid-template-rows: 3rem 3rem;
    position: absolute;
    right: 1rem;

    .readout {
      font-size: smaller;
      text-align: center;
    }
  }
}

@keyframes FILL {
  0% {
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0.25;
  }
  100% {
    fill-opacity: 0;
  }
}
