<ion-menu #menu content-id="theContent" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Maps</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let map of maps; trackBy: trackByMap" class="menu-item">
      <ion-item
        (tap)="switchTo(map)"
        [color]="map.id === model.map.id ? 'primary' : null"
        button
        lines="full"
      >
        <ion-avatar slot="start">
          <img src="assets/favicon.png" />
        </ion-avatar>
        <ion-label>{{ map.title }}</ion-label>
      </ion-item>
    </ion-list>

    <ul class="legend">
      <li *ngFor="let usage of usages(); trackByUsage">
        <div
          [ngStyle]="{ 'background-color': 'var(--shade-u' + usage[0] + ')' }"
          class="code"
        >
          &nbsp;
        </div>
        &nbsp;
        <div class="desc">{{ usage[1] }}</div>
      </li>
    </ul>
  </ion-content>
</ion-menu>

<main class="ion-page" id="theContent">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="dark"></ion-menu-button>
      </ion-buttons>

      <ion-title>{{ model.map.title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content
    [fullscreen]="true"
    [scrollX]="false"
    [scrollY]="false"
    class="main"
  >
    <section
      (resized)="resize($event)"
      (tap)="selectLot($event.center)"
      class="content"
    >
      <ng-container *ngIf="tileContainer() as container">
        <article
          #map
          (pan)="translate($event.deltaX, $event.deltaY)"
          (panend)="translateEnd()"
          (panstart)="translateBegin()"
          [ngClass]="{ animating: animating }"
          [ngStyle]="{ 'height.px': container.height, 'width.px': container.width }"
          class="map"
        >
          <ng-container *ngIf="tiles() as tiles">
            <ion-img
              *ngFor="let tile of tiles"
              [ngStyle]="{ 'left.px': tile.x, 'top.px': tile.y, 'height.px': tile.height, 'width.px': tile.width }"
              [src]="tile.fileName"
              class="tile"
            >
            </ion-img>
          </ng-container>
        </article>
      </ng-container>

      <ng-container [ngSwitch]="model.map.id">
        <app-center
          *ngSwitchCase="'center'"
          [ngClass]="{ animating: animating, lots: true }"
        ></app-center>

        <app-east
          *ngSwitchCase="'east'"
          [ngClass]="{ animating: animating, lots: true }"
        ></app-east>

        <app-highland
          *ngSwitchCase="'highland'"
          [ngClass]="{ animating: animating, lots: true }"
        ></app-highland>

        <app-island
          *ngSwitchCase="'island'"
          [ngClass]="{ animating: animating, lots: true }"
        ></app-island>

        <app-lae
          *ngSwitchCase="'lae'"
          [ngClass]="{ animating: animating, lots: true }"
        ></app-lae>

        <app-washington
          *ngSwitchDefault
          [ngClass]="{ animating: animating, lots: true }"
        ></app-washington>
      </ng-container>
    </section>

    <ion-searchbar
      (ionChange)="searchFor($event.detail.value)"
      [debounce]="500"
      [value]="selection.text"
      class="searchbar"
      enterkeyhint="Search"
      inputmode="search"
      placeholder="Lot # or address"
    ></ion-searchbar>
  </ion-content>

  <ion-buttons class="scale">
    <ion-button
      (tap)="scaleUp()"
      [disabled]="view.view.scale >= maxScale()"
      [strong]="true"
      color="light"
      expand="block"
      fill="clear"
      ><ion-icon name="add-sharp" size="large"></ion-icon
    ></ion-button>
    <ion-button
      (tap)="scaleDown()"
      [disabled]="view.view.scale <= minScale()"
      [strong]="true"
      color="light"
      expand="block"
      fill="clear"
      ><ion-icon name="remove-sharp" size="large"></ion-icon
    ></ion-button>
    <article class="readout">{{ view.view.scale | percent }}</article>
  </ion-buttons>
</main>
