<ion-menu #menu content-id="theContent" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Maps</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item
        *ngFor="let map of maps; trackBy: trackByMap"
        class="menu-item"
        (tap)="switchTo(map)"
        [color]="map.id === model.map.id ? 'primary' : null"
        button
        lines="full"
      >
        <ion-avatar slot="start">
          <img src="assets/favicon.png" />
        </ion-avatar>
        <ion-label>{{ map.title }}</ion-label>
      </ion-item>

      <ion-item (tap)="showInfo()" class="menu-item" button lines="full">
        <ion-avatar slot="start">
          <img src="assets/help.png" />
        </ion-avatar>
        <ion-label>Legend and Credits</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<main class="ion-page" id="theContent">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (tap)="showMenu()" color="dark" fill="clear"
          ><ion-icon
            class="menu-icon"
            name="menu-sharp"
            slot="start"
          ></ion-icon>
          <header class="title" slot="end">
            {{ model.map.title }}
          </header></ion-button
        >
      </ion-buttons>

      <article
        [style.width.px]="model.map.cxScale * view.view.scale"
        class="scale"
        slot="end"
      >
        {{ model.map.ftScale }}'
      </article>
    </ion-toolbar>
  </ion-header>

  <ion-content
    [fullscreen]="true"
    [scrollX]="false"
    [scrollY]="false"
    class="main"
  >
    <section
      (resized)="resize($event)"
      (tap)="selectLot($event.srcEvent)"
      class="content"
    >
      <ng-container *ngIf="tileContainer() as container">
        <article
          #map
          (pan)="translate($event.deltaX, $event.deltaY)"
          (panend)="translateEnd()"
          (panstart)="translateBegin()"
          [class.animating]="animating"
          [style.height.px]="container.height"
          [style.width.px]="container.width"
          class="map"
        >
          <ng-container *ngIf="tiles() as tiles">
            <ion-img
              *ngFor="let tile of tiles"
              [src]="tile.fileName"
              [style.left.px]="tile.x"
              [style.top.px]="tile.y"
              [style.height.px]="tile.height"
              [style.width.px]="tile.width"
              class="tile"
            >
            </ion-img>
          </ng-container>
        </article>
      </ng-container>

      <ng-container [ngSwitch]="model.map.id">
        <app-center
          *ngSwitchCase="'center'"
          [class.animating]="animating"
          class="lots"
        ></app-center>

        <app-east
          *ngSwitchCase="'east'"
          [class.animating]="animating"
          class="lots"
        ></app-east>

        <app-highland
          *ngSwitchCase="'highland'"
          [class.animating]="animating"
          class="lots"
        ></app-highland>

        <app-island
          *ngSwitchCase="'island'"
          [class.animating]="animating"
          class="lots"
        ></app-island>

        <app-lae
          *ngSwitchCase="'lae'"
          [class.animating]="animating"
          class="lots"
        ></app-lae>

        <app-washington
          *ngSwitchDefault
          [class.animating]="animating"
          class="lots"
        ></app-washington>
      </ng-container>
    </section>

    <ion-searchbar
      (ionChange)="searchFor($event.detail.value)"
      [debounce]="500"
      [value]="selection.text"
      class="searchbar"
      enterkeyhint="Search"
      inputmode="search"
      placeholder="Lot # or address"
    ></ion-searchbar>
  </ion-content>

  <ion-buttons class="zoom">
    <ion-button
      (tap)="scaleUp()"
      [disabled]="view.view.scale >= maxScale()"
      [strong]="true"
      color="light"
      expand="block"
      fill="clear"
      ><ion-icon name="add-sharp" size="large"></ion-icon
    ></ion-button>
    <ion-button
      (tap)="scaleDown()"
      [disabled]="view.view.scale <= minScale()"
      [strong]="true"
      color="light"
      expand="block"
      ><ion-icon name="remove-sharp" size="large"></ion-icon
    ></ion-button>
    <article class="readout">{{ view.view.scale | percent }}</article>
  </ion-buttons>
</main>
