<ion-menu #menu content-id="theContent" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Maps</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item
        *ngFor="let item of maps | keyvalue"
        class="menu-item"
        (tap)="switchTo(item.key)"
        [color]="item.key === model.mapID ? 'primary' : null"
        button
        lines="full"
      >
        <ion-avatar slot="start">
          <img src="svg/favicon.svg" />
        </ion-avatar>
        <ion-label>{{ item.value.title }}</ion-label>
      </ion-item>

      <ion-item (tap)="showInfo()" class="menu-item" button lines="full">
        <ion-avatar slot="start">
          <img src="png/help.png" />
        </ion-avatar>
        <ion-label>Legend and Credits</ion-label>
      </ion-item>

      <ion-item
        class="menu-item"
        href="https://github.com/mflorence99/washington-app/blob/main/README.md"
        target="_blank"
        button
        lines="full"
      >
        <ion-avatar slot="start">
          <img src="png/help.png" />
        </ion-avatar>
        <ion-label>Help</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<main class="ion-page" id="theContent">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (tap)="showMenu()" color="dark" fill="clear"
          ><ion-icon src="svg/menu-sharp.svg" slot="start"></ion-icon>
          <header class="title" slot="end">
            {{ model.map.title }}
          </header></ion-button
        >
      </ion-buttons>

      <ion-buttons *ngIf="trackable" slot="end">
        <ion-button (tap)="showOverlay()" color="dark" fill="clear"
          ><ion-icon color="dark" src="svg/highlight.svg"></ion-icon
        ></ion-button>

        <ion-button
          (tap)="showTracker(!model.tracker)"
          color="dark"
          fill="clear"
          ><ion-icon
            [color]="model.tracker? 'primary' : 'dark'"
            src="svg/locate-sharp.svg"
          ></ion-icon
        ></ion-button>

        <ion-button
          (tap)="followTracker(!model.follower)"
          [disabled]="!model.tracker"
          color="dark"
          fill="clear"
          ><ion-icon
            [color]="model.follower? 'primary' : 'dark'"
            src="svg/navigate.svg"
          ></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content
    [fullscreen]="true"
    [scrollX]="false"
    [scrollY]="false"
    class="main"
  >
    <section
      (resized)="resize($event)"
      (tap)="selectLot($event)"
      class="content"
      id="theViewport"
    >
      <article
        (pan)="translate($event.deltaX, $event.deltaY)"
        (panend)="translateEnd()"
        (panstart)="translateBegin()"
        [class.animating]="animating"
        [class.translating]="translating"
        [style.height.px]="model.tileContainer.height"
        [style.width.px]="model.tileContainer.width"
        class="map"
        id="theMap"
      >
        <app-tiles [tiles]="model.tiles" class="tiles" id="theTiles">
        </app-tiles>
      </article>

      <app-tracker
        *ngIf="model.tracker"
        [class.animating]="animating"
        class="tracker"
        id="theTracker"
      ></app-tracker>

      <app-lots
        *ngIf="lotsShowing"
        (lotsLoaded)="lotsLoaded()"
        [class.animating]="animating"
        [map]="model.map"
        [mapID]="model.mapID"
        [tileContainer]="model.tileContainer"
        class="lots"
        id="theLots"
      ></app-lots>
    </section>

    <ion-searchbar
      (ionChange)="searchFor($event.detail.value)"
      [debounce]="500"
      [value]="selection.text"
      class="searchbar"
      clearIcon="close-sharp"
      enterkeyhint="Search"
      inputmode="search"
      placeholder="Lot #, address or owner"
      searchIcon="search-sharp"
    ></ion-searchbar>

    <nav *ngIf="selection.fuzzies.length > 0" class="fuzzies">
      <li
        *ngFor="let match of selection.fuzzies"
        (tap)="searchFor(match)"
        class="fuzzy-match"
      >
        {{ match }}
      </li>
    </nav>

    <article *ngIf="!(lotsReady || lotsShowing)" class="loading">
      <ion-spinner color="light" class="spinner" name="lines"></ion-spinner>
    </article>
  </ion-content>

  <article [style.width.px]="model.map.cxScale * view.view.scale" class="scale">
    {{ model.map.ftScale }}'
  </article>

  <ion-buttons class="zoom">
    <ion-button
      (tap)="scaleUp()"
      [disabled]="view.view.scale >= geometry.maxScale()"
      [strong]="true"
      color="light"
      expand="block"
      fill="clear"
      ><ion-icon src="svg/add-sharp.svg" size="large"></ion-icon
    ></ion-button>
    <ion-button
      (tap)="scaleDown()"
      [disabled]="view.view.scale <= geometry.minScale()"
      [strong]="true"
      color="light"
      expand="block"
      ><ion-icon src="svg/remove-sharp.svg" size="large"></ion-icon
    ></ion-button>
    <article class="readout">{{ view.view.scale | percent }}</article>
  </ion-buttons>
</main>
