app-tracker {
  display: block;

  /* stylelint-disable indentation, property-no-unknown */

  .track-ball {
    cx: 0;
    cy: 0;
    // 👇 must translate BEFORE scale here
    transform: translate(
        calc(var(--ball-translate-x) * 1px),
        calc(var(--ball-translate-y) * 1px)
      )
      scale(calc(1 / var(--app-scale)));

    .accuracy {
      fill: url('#accuracy');
      // 👇 don't let the accuracy ball get too big
      r: min(calc(var(--ball-accuracy) * 1px), 48px);
    }

    .heading {
      fill: url('#heading');
      transform: rotate(calc(var(--ball-heading) * 1deg));
      visibility: var(--ball-heading-visibility);
    }

    .inner {
      animation: ANIMATE_TRACKER 3s ease-in-out infinite;
      fill: var(--ball-color);
      r: 10px;
    }

    .outer {
      fill: var(--ion-color-primary-contrast);
      r: 13px;
      stroke: var(--ball-color);
    }
  }

  .track-ball,
  .track-ball .heading {
    transition-duration: calc(var(--ball-interval) * 1ms);
    transition-property: transform;
    transition-timing-function: linear;
  }
}

@keyframes ANIMATE_TRACKER {
  0% {
    r: 10px;
  }
  50% {
    r: 7px;
  }
  100% {
    r: 10px;
  }
}
