app-tracker {
  display: block;

  .track-ball {
    cx: 0;
    cy: 0;
    transform: translate(
      calc(var(--ball-translate-x) * 1px),
      calc(var(--ball-translate-y) * 1px)
    );

    .accuracy {
      fill: url('#accuracy');
      // NOTE: don't let the accuracy ball get too big
      r: min(calc((var(--ball-accuracy) / var(--app-scale)) * 1px), 64px);
    }

    .heading {
      fill: url('#heading');
      transform: rotate(calc(var(--ball-heading) * 1deg))
        scale(calc(1 / var(--app-scale)));
      visibility: var(--ball-heading-visibility);
    }

    .inner {
      animation: ANIMATE_TRACKER 3s ease-in-out infinite;
      fill: var(--ball-color);
      r: calc(10px / var(--app-scale));
    }

    .outer {
      fill: white;
      r: calc(13px / var(--app-scale));
      stroke: var(--ball-color);
    }
  }

  .track-ball,
  .track-ball .heading {
    transition-duration: calc(var(--ball-interval) * 1ms);
    transition-property: transform;
    transition-timing-function: linear;
  }
}

@keyframes ANIMATE_TRACKER {
  0% {
    r: calc(10px / var(--app-scale));
  }
  50% {
    r: calc(7px / var(--app-scale));
  }
  100% {
    r: calc(10px / var(--app-scale));
  }
}
